USE [master]
GO
/****** Object:  Database [AMVTravelDB]    Script Date: 5/8/2024 21:59:21 ******/
CREATE DATABASE [AMVTravelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AMVTravelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AMVTravelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AMVTravelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AMVTravelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AMVTravelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AMVTravelDB]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 5/8/2024 21:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[FechaReserva] [datetime] NOT NULL,
	[TourId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 5/8/2024 21:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Destino] [nvarchar](100) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/8/2024 21:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([Id], [Cliente], [FechaReserva], [TourId]) VALUES (9, N'Gustavo', CAST(N'2024-08-05T16:11:09.593' AS DateTime), 1)
INSERT [dbo].[Reservas] ([Id], [Cliente], [FechaReserva], [TourId]) VALUES (10, N'Alberto', CAST(N'2024-08-05T16:17:16.110' AS DateTime), 2)
INSERT [dbo].[Reservas] ([Id], [Cliente], [FechaReserva], [TourId]) VALUES (12, N'Mariano Gomez', CAST(N'2024-08-05T16:35:06.597' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([Id], [Nombre], [Destino], [FechaInicio], [FechaFin], [Precio]) VALUES (1, N'Perito Moreno', N'El Calafate', CAST(N'2024-10-20T00:00:00.000' AS DateTime), CAST(N'2024-10-25T00:00:00.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[Tours] ([Id], [Nombre], [Destino], [FechaInicio], [FechaFin], [Precio]) VALUES (2, N'Navegacion Glaciares', N'El Calafate', CAST(N'2024-12-25T00:00:00.000' AS DateTime), CAST(N'2024-12-25T00:00:00.000' AS DateTime), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[Tours] ([Id], [Nombre], [Destino], [FechaInicio], [FechaFin], [Precio]) VALUES (3, N'Senderos', N'El Chalten', CAST(N'2024-11-20T00:00:00.000' AS DateTime), CAST(N'2024-11-20T00:00:00.000' AS DateTime), CAST(50233.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña]) VALUES (1, N'Fede', N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0492C3C1B]    Script Date: 5/8/2024 21:59:21 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NombreUsuario]    Script Date: 5/8/2024 21:59:21 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
GO
USE [master]
GO
